* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-secondary: #a1a1a1;
  --primary-color: #9a71f8;
  --secondary-color: #4C1D95;
  --tertiary-color: #F5F3FF;
  --neutral-color: #1F2937;
  --background-color: #e5ddf98e;

  --success-bg: #ECFDF3;
  --success-icon: #D1FADF;
  --success-text: #16A34A;

  --warning-bg: #FEF3C7;
  --warning-icon: #FDE68A;
  --warning-text: #D97706;

  --danger-bg: #FEE2E2;
  --danger-icon: #FECACA;
  --danger-text: #DC2626;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #f8f7ff, var(--background-color));
  color: var(--neutral-color);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.header {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header p {
  color: var(--text-secondary);
  font-size: 14px;
}

.main {
  padding: 0 4rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex: 1;
  align-items: flex-start;
}

.containerForm,
.containerResult {
  background: #fff;
}

.containerForm {
  flex: 1;
  min-width: 300px;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid var(--tertiary-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.field label {
  font-size: 13px;
  color: var(--secondary-color);
  font-weight: 700;
}

.field input {
  padding: 14px;
  border: 1px solid #DDD6FE;
  border-radius: 8px;
  outline: none;
  transition: .3s;
}

.field input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 4px rgba(154, 113, 248, .15);
}

.btnCalcular {
  background-color: var(--primary-color);
  color: white;
}

.btnCalcular:hover {
  background-color: var(--secondary-color)
}

.btnReset:hover {
  background-color: var(--tertiary-color);
}

.containerResult {
  flex: 2;
  min-width: 300px;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid var(--tertiary-color);
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cardResult {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cardLabel {
  display: flex;
  gap: 15px;
  align-items: center;
}

.cardLabel i {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 14px;
}

.cardLabel p {
  font-weight: 700;
}

.cardResult span {
  font-size: 24px;
  font-weight: 600;
}

.mayor {
  background: var(--success-bg);
  color: var(--success-text);
}

.mayor i {
  background: var(--success-icon);
  color: var(--success-text);
}

.medio {
  background: var(--warning-bg);
  color: var(--warning-text);
}

.medio i {
  background: var(--warning-icon);
  color: var(--warning-text);
}

.menor {
  background: var(--danger-bg);
  color: var(--danger-text);
}

.menor i {
  background: var(--danger-icon);
  color: var(--danger-text);
}

.footer {
  text-align: center;
  padding: 2rem;
  color: var(--text-secondary);
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.footer a {
  color: var(--secondary-color);
  font-size: 18px;
  transition: color .2s;
}

.footer a:hover {
  color: var(--primary-color);
}

.circle {
  width: 250px;
  height: 250px;
  background-color: #e5deff;
  position: fixed;
  top: -50px;
  left: -90px;
  border-radius: 50%;
  z-index: -1;
  opacity: .8;
}

.circle:last-of-type {
  top: auto;
  left: auto;
  bottom: -120px;
  right: -50px;
  width: 350px;
  height: 350px;
}

@media (max-width: 764px) {
  .main {
    padding: 1rem;
  }
}